body {
    margin: 0;
    padding: 0;
}

.nav-top {
    display: grid;
    background: #ffffff;
    grid-template-columns: 120px 76px 980px 120px 72px 72px;
    grid-template-rows: 40px;
}

.nav {
    border: 1px solid #d3d3d3;
}

.join {
    font-size: 12px;
    text-align: center;
    margin-top: 12px;
    border-top: hidden;
    border-right: hidden;

}

.dunk {
    text-align: center;
    border-top: hidden;
    border-right: hidden;
    margin-top: 2px;
}

.help {
    font-size: 12px;
    text-align: center;
    margin-top: 12px;
    border-top: hidden;
    border-right: hidden;
    border-left: hidden;
}

a {
    text-decoration: none;
    color: #919191;
}

.space {
    border-top: hidden;
    border-right: hidden;
}

.shopping {
    text-align: center;
    border-top: hidden;
    border-right: hidden;
    margin-top: 10px;
    color: #919191;
    border-top: hidden;
    border-right: hidden;
    border-left: hidden;
}

.map {
    text-align: center;
    border-top: hidden;
    border-right: hidden;
    margin-top: 10px;
    color: #919191;
    border-top: hidden;
    border-right: hidden;
    border-left: hidden;
    font-size: 12px;
}

.nav-second {
    display: grid;
    background: #ffffff;
    grid-template-columns: 200px 170px 70px 69px 66px 175px 129px 96px 465px;
    grid-template-rows: 72px;
}

.logo {
    border-top: hidden;
    border-right: hidden;

    padding-left: 20px;
    padding-top: 20px;

}

.space-2 {
    border-top: hidden;
    border-right: hidden;
    border-left: hidden;

}

.gender {
    text-align: center;
    margin-top: 20px;
    border-top: hidden;
    border-right: hidden;
    border-left: hidden;
}

.gender a {
    color: black;
}


.search {
    width: 200px;
    height: 44px;
    margin-top: -10px;
    margin-left: 220px;
    border-radius: 2px;
}

.announcement {
    display: grid;
    background: #f5f5f5;
    grid-template-rows: 58px;
    border-bottom: 1px solid #d3d3d3;

}

.announce {
    font-size: 12px;
    text-align: center;
    margin-top: 20px;

}

.announce a {
    color: black;
    text-decoration: underline;
}

.nike-detail{
    display: grid;
    background: #ffffff;
    grid-template-rows: 40px 40px;
}

.d-top{
    text-align: center;
}

.d-top h1{
    margin-top: -16px;
    font-size: 45px;
}

.nike-butt {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.nike-butt-shop button{
    background: black;
    border-radius: 15px;
    height: 40px;
}

.nike-butt-shop a{
    color: #f3f2f2;
}

.b-shopping button{
    margin-right: 5px;
    width: 106px;
}

.b-material button{
    width: 285px;

}

.head-title{
    font-size: 20px;
    margin-top: 60px;
    margin-left: 70px;
}

.product-img{
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 30px;
    display: flex;
    background: #ffffff;
    justify-content: space-between;
}

.product img{
    width: auto;
    height: 430px;
}

.product-price{
    margin-left: 70px;
    margin-right: 70px;
    margin-top: -5px;
    display: flex;
    background: #ffffff;
    justify-content: space-between;
}


.price-men p{
margin-right: 20px;

}

.price span{
    margin-left: 165px;
}

.detail{
    font-size: 16px;
}

.price-women span{
    margin-left: 250px;
}

.price-men span{
    margin-left: 250px;

}

.product-hit{
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 30px;
    display: flex;
    background: #ffffff;
    justify-content: center;
}

.hit img{
    height: 600px;
    width: 650px;
    margin-left: 10px;

}

.product-pop{
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 30px;
    display: flex;
    background: #ffffff;
    justify-content: center;
}

.pop img{
    height: 550px;
    width: 1300px;
    margin-left: 10px;

}

.nike-man{
    margin-right: 10px;
}

.nike-women{
    margin-right: 10px;

}

.footer-cat{
    margin-top: 40px;
    display: flex;
    background: #ffffff;
    justify-content: center;
}

.footer-cat li{
    list-style: none;
    font-size: 14px;
    color: #919191;
    margin-bottom: 8px;
}

.footer-cat h4{
    color: black;
}

.footer-cat ul{
margin-right: 60px;
}



.nk-footer{
    margin-top: 40px;
    display: flex;
    color: #919191;
    justify-content: center;
    background: black;
    font-size: 14px;
}

.nkf li{
    list-style: none;
    margin-top: 5px;
}

.social img{
    margin-top: 40px;
    margin-right: 5px;
    height: 30px;
    width: 30px;
}

.nkf{
    margin-right: 50px;;
    margin-top: 30px;
}

.social{
    margin-top: -10px;
    margin-left: 350px;
}

.nk-footer h4{
    color: #f3f2f2;
}

.under-footer{
    display: flex;
    justify-content: space-between;
    background: black;
    color: white;
    font-size: 10px;
    height: 70px;
}

.unf span{
    margin-left: 28px;
}

.udf{
    margin-top: 40px;
}





